@using RunInGroup.Data.Enums;

@model RunInGroup.ViewModel.CreateClubViewModel

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId"/>


    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="form-label"></label>
        <input asp-for="Image" type="file" class="form-control" accept="image/*">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="Address.City" class="form-label"></label>
        <input asp-for="Address.City" class="form-control">
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.State" class="form-label"></label>
        <input asp-for="Address.State" class="form-control">
        <span asp-validation-for="Address.State" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address.Street" class="form-label"></label>
        <input asp-for="Address.Street" class="form-control">
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ClubCategory" class="form-label"></label>
        <select asp-for="ClubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()" class="form-control form-control-lg">
            <option>--Select--</option>
        </select>
        <span asp-validation-for="ClubCategory" class="text-danger"></span>
    </div>

    

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
